@font-face {
  font-family: "Helvetica Neue";
  src: url("/font/helvetica/HelveticaNeue-Italic.woff2") format("woff2"),
    url("/font/helvetica/HelveticaNeue-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/font/helvetica/HelveticaNeue-Roman.woff2") format("woff2"),
    url("/font/helvetica/HelveticaNeue-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/font/helvetica/HelveticaNeue-Medium.woff2") format("woff2"),
    url("/font/helvetica/HelveticaNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/font/helvetica/HelveticaNeue-LightItalic.woff2") format("woff2"),
    url("/font/helvetica/HelveticaNeue-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/font/helvetica/HelveticaNeue-HeavyItalic.woff2") format("woff2"),
    url("/font/helvetica/HelveticaNeue-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/font/helvetica/HelveticaNeue-MediumItalic.woff2") format("woff2"),
    url("/font/helvetica/HelveticaNeue-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/font/helvetica/HelveticaNeue-Light.woff2") format("woff2"),
    url("/font/helvetica/HelveticaNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/font/helvetica/HelveticaNeue-Thin.woff2") format("woff2"),
    url("/font/helvetica/HelveticaNeue-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/font/helvetica/HelveticaNeue-Black.woff2") format("woff2"),
    url("/font/helvetica/HelveticaNeue-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/font/helvetica/HelveticaNeue-UltraLight.woff2") format("woff2"),
    url("/font/helvetica/HelveticaNeue-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/font/helvetica/HelveticaNeue-UltraLightItalic.woff2")
      format("woff2"),
    url("/font/helvetica/HelveticaNeue-UltraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/font/helvetica/HelveticaNeue-ThinItalic.woff2") format("woff2"),
    url("/font/helvetica/HelveticaNeue-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/font/helvetica/HelveticaNeue-Heavy.woff2") format("woff2"),
    url("/font/helvetica/HelveticaNeue-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/font/helvetica/HelveticaNeue-Bold.woff2") format("woff2"),
    url("/font/helvetica/HelveticaNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/font/helvetica/HelveticaNeue-BoldItalic.woff2") format("woff2"),
    url("/font/helvetica/HelveticaNeue-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/font/helvetica/HelveticaNeue-BlackItalic.woff2") format("woff2"),
    url("/font/helvetica/HelveticaNeue-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}


@font-face {
    font-family: 'Roboto';
    src: url('/font/roboto/Roboto-Light.woff2') format('woff2'),
        url('/font/roboto/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/font/roboto/Roboto-LightItalic.woff2') format('woff2'),
        url('/font/roboto/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/font/roboto/Roboto-Medium.woff2') format('woff2'),
        url('/font/roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/font/roboto/Roboto-MediumItalic.woff2') format('woff2'),
        url('/font/roboto/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/font/roboto/Roboto-Regular.woff2') format('woff2'),
        url('/font/roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/font/roboto/Roboto-SemiBold.woff2') format('woff2'),
        url('/font/roboto/Roboto-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/font/roboto/Roboto-SemiBoldItalic.woff2') format('woff2'),
        url('/font/roboto/Roboto-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/font/roboto/Roboto-Thin.woff2') format('woff2'),
        url('/font/roboto/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/font/roboto/Roboto-ThinItalic.woff2') format('woff2'),
        url('/font/roboto/Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/font/roboto/Roboto-Black.woff2') format('woff2'),
        url('/font/roboto/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/font/roboto/Roboto-Bold.woff2') format('woff2'),
        url('/font/roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/font/roboto/Roboto-BlackItalic.woff2') format('woff2'),
        url('/font/roboto/Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/font/roboto/Roboto-BoldItalic.woff2') format('woff2'),
        url('/font/roboto/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/font/roboto/Roboto-ExtraBold.woff2') format('woff2'),
        url('/font/roboto/Roboto-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/font/roboto/Roboto-ExtraBoldItalic.woff2') format('woff2'),
        url('/font/roboto/Roboto-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/font/roboto/Roboto-ExtraLight.woff2') format('woff2'),
        url('/font/roboto/Roboto-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/font/roboto/Roboto-ExtraLightItalic.woff2') format('woff2'),
        url('/font/roboto/Roboto-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/font/roboto/Roboto-Italic.woff2') format('woff2'),
        url('/font/roboto/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: 'Playfair Display';
    src: url('/font/playfair/PlayfairDisplay-Black.woff2') format('woff2'),
        url('/font/playfair/PlayfairDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/font/playfair/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
        url('/font/playfair/PlayfairDisplay-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/font/playfair/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('/font/playfair/PlayfairDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/font/playfair/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('/font/playfair/PlayfairDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/font/playfair/PlayfairDisplay-ExtraBold.woff2') format('woff2'),
        url('/font/playfair/PlayfairDisplay-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/font/playfair/PlayfairDisplay-ExtraBoldItalic.woff2') format('woff2'),
        url('/font/playfair/PlayfairDisplay-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/font/playfair/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('/font/playfair/PlayfairDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/font/playfair/PlayfairDisplay-Medium.woff2') format('woff2'),
        url('/font/playfair/PlayfairDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/font/playfair/PlayfairDisplay-MediumItalic.woff2') format('woff2'),
        url('/font/playfair/PlayfairDisplay-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/font/playfair/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('/font/playfair/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/font/playfair/PlayfairDisplay-SemiBold.woff2') format('woff2'),
        url('/font/playfair/PlayfairDisplay-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/font/playfair/PlayfairDisplay-SemiBoldItalic.woff2') format('woff2'),
        url('/font/playfair/PlayfairDisplay-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}